.datepickerdemoBasicUsage {
  /** Demo styles for mdCalendar. */
}
.datepickerdemoBasicUsage md-content {
  padding-bottom: 200px;
}
.datepickerdemoBasicUsage .validation-messages {
  font-size: 11px;
  color: darkred;
  margin: 10px 0 0 25px;
}
.md-button {
  padding: 0 6px 0 6px;
  margin: 6px 8px 6px 8px;
  min-width: 88px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  outline: none;
}
.md-raised:not([disabled]) {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
