h1{
  color: white;
}
form {
  width: 340px;
  margin: 60px auto;
  padding: 24px;
  box-shadow: 2px 2px 22px rgba(0,0,0,0.1);
  background: transparent;
}
#signin, #signup form{
  color: white;
}
#signin{
  background-image: url('background.jpg');
  position: fixed; 
  top: 49; 
  left: 0; 

  min-width: 100%;
  min-height: 100%;
}
#signup{
  background-image: url('background.jpg');
  position: fixed; 
  top: 64; 
  left: 0; 
  
  min-width: 100%;
  min-height: 100%;
}

.error{
  font-size: 14px;
  color: cyan;
}

#upcoming, #previous {
  width:400px;
}
#previous {
  margin-left:500px;
}
#previous ul li:hover, #upcoming ul li:hover {
  background-color: #fff3e0;
}
a:link {
  color: black;
}
#upcoming ul li a:visited {
  color: #ff6d00;
}
a:hover {
  color: #ff6d00;
}
.placeholderColor::-webkit-input-placeholder {
  color: white;
}




