<nav class="orange lighten-2">
  <div class="nav-wrapper">
    <div class="brand-logo">Trip Planner</div>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/#/new-trip">Create Trip</a></li>
      <li><a href="#/trips"> My Trips</a></li>
      <li><a href="#/logout">Signout</a></li>
  </ul>
  </div>
</nav>
<div class="container">
  <div>
    <h2>The world is yours to explore...</h2>
    <!-- Desination -->

    <md-input-container>
      <label>Where are you going?</label>
      <input class="validate" ng-model="destination">
    </md-input-container>

    <div>
      <h4>When does your trip start? (Optional)</h4>
      <md-datepicker ng-model="myDate" md-placeholder="Enter date" ng-model="startDate"></md-datepicker>
    </div>

    <div>
      <button class="waves-effect waves-light btn amber darken-3" class="md-raised" type="submit" name="action" ng-disabled="!destination" ng-click="createTrip(destination, startDate)">Submit
      </button>
    </div>
  </div>
</div>
