<!-- Navbar -->
<nav class="orange lighten-2">
  <div class="nav-wrapper">
    <div class="brand-logo"><img src="app/styles/79500-200.png" height=48px width=48px>Trip Planner</div>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a href="/#/new-trip">Create Trip</a>
      </li>
      <li>
        <a href="#/trips">
          My Trips</a>
      </li>
      <li ng-click="signout()">
        <a>Signout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    <h2>The world is yours to explore...</h2>
    <form class="col s12" id="locationForm" name='locationForm'>
      <div class="col s6">
        <!-- Desination -->
        <h4>When does your trip start?</h4>
        <label>Where are you going?</label><input
          type='text'
          class="controls"
          id="destination"
          name="destination"
          ng-model="destination">
      </div>
      <div class="col s6">
        <!-- Departure date -->
        <h4>When does your trip start?</h4>
        <label>(Optional)</label>
        <input type="date" ng-model="startDate" class="datepicker">
      </div>
      <div class="col s3">
        <button
          class="waves-effect waves-light btn amber darken-3"
          class="md-raised"
          type="submit"
          name="action"
          ng-disabled="!destination"
          ng-click="createTrip()">Submit
        </button>
        <p> </p>
      </div>  
      <div class="col s3">
        <button
          class="waves-effect waves-light btn amber darken-3"
          class="md-raised"
          ng-click="quickAdd()"
          >Quick Add
        </button>
        <p> </p>
      </div>
      <div class="col s3">
        <button
          class="waves-effect waves-light btn amber darken-3"
          class="md-raised"
          ng-click="getAttractions()"
          >Find Attractions
        </button>
        <p> </p>
      </div> 
      <div class="col s3">
        <button
          class="waves-effect waves-light btn amber darken-3"
          class="md-raised"
          ng-click="addDay()"
          >Add a day
        </button>
        <p> </p>
      </div>
    </form>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <h5 class="col s10"id="questionsID" ng-model="questions" ng-show="showQuestion">{{questions}}</h5>
    <div class="right-align">
      <button ng-show="showQuestion" class="waves-light waves-effect btn amber darken-5 md-raised">N/A</button>
    </div>
    <div class="row">
    <!-- <div class="container" style="display: inline-block"> -->
      <div id="mapDiv" style="width:60%"class="col s5"></div>
      <div class="col s3">
        <div ng-repeat="marker in currentMarkerData" ng-click="selectPOI(marker.name)">
        {{marker.name}} <img src={{marker.image_url}}>
        </div>
      </div>
    </div>
    <!-- </div> -->
  </div>
</div>
