<!-- Navbar -->
<nav id="navbar" class="orange lighten-2">
  <div class="nav-wrapper">
    <div class="brand-logo"><img src="app/styles/79500-200.png" height=48px width=48px>Trip Planner</div>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a href="#/signup">Signup</a>
      </li>
      <li>
        <a href="#/login">Signin</a>
      </li>
    </ul>
  </div>
</nav>

<div class="input-field center-align" id='signin'>
  <h4>You have been logged out. If this was a mistake, please log back in</h4>
  <form name="signinForm" ng-submit='signin()'>
    <input class="placeholderColor" placeholder="email" type='email' ng-model='user.username' required>
    <input class="placeholderColor" placeholder="password" type="password" ng-model='user.password' required>
    <button class="waves-effect waves-light btn amber darken-3" ng-disabled='signinForm.$invalid'>Sign In</button>
  </form>
</div>
