<div id='signup'>
  <h1>signup</h1>
  <form name="signupForm" ng-submit='signup()'>
    <input type='text' ng-model='user.username' required>
    <input type="password" ng-model='user.password' required>
    <button ng-disabled='signupForm.$invalid'>signup</button>
  </form>
  <!-- if invalid is true, show a div that says, your login is invalid. -->
  <!-- <h3 ng-if="$scope.user.invalid">You aint signed up yet fool!</h3> -->
  <a href="#/login">Already have an account?
    <strong>Log In</strong>
    ...</a>
</div>
