<nav class="orange lighten-2">
  <div class="nav-wrapper">
    <div class="brand-logo">Trip Planner</div>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#/signup">Signup</a></li>
      <li><a href="#/login">Signin</a></li>
    </ul>
  </div>
</nav>
<div id='signup'>
  <h1 class="center-align">Signup</h1>
  <form class="center-align" name="signupForm" ng-submit='signup()'>
    <input class="placeholderColor" placeholder="username" type='email' ng-model='user.username' required>
    <input class="placeholderColor" placeholder="password" type="password" ng-model='user.password' required>
    <button class="waves-effect waves-light btn amber darken-3" ng-disabled='signupForm.$invalid'>signup</button>
  </form>
  <!-- if invalid is true, show a div that says, your login is invalid. -->
  <!-- <h3 ng-if="$scope.user.invalid">You aint signed up yet fool!</h3> -->
</div>
