<!-- Upcoming Trips -->
<div id="upcoming">
  <h3>Upcoming Trips</h3>
  <ul>
    <li ng-repeat="trip in trips" ng-click="renderTrip(trip)">
      <a href='{{"/api/trips/" + trip._id}}'>{{ trip.destination }}</a>
      <!-- List upcoming vacations -->
      <!-- {{ trips | > future || no date  :orderby }} -->
    </li>
  </ul>
</div>
<!-- Create a New Trip -->
<div id="create" class="card-panel hoverable">
  <h3>Create a Trip</h3>
  <!-- Enticing Vacation Graphics -->
  <!-- Button -->
  <a href="/#/new-trip">Create A New Trip</a>
</div>
<!-- Previous Trips -->
<div id="previous">
  <h3>Previous Trips</h3>
  <ul>
    <li ng-repeat="trip in trips" ng-click="renderTrip(trip)">
      <!--TODO: Filter older than today -->
      {{ trip.destination }}
      <!-- List previous vacations -->
      <!-- {{ trip | the past}} -->
    </li>
  </ul>
</div>
